# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*
!.env.example

# Testing
coverage/

# Docker
*.log

# IDE
.vscode/
.idea/

# Operating system
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp

# Local development
*.local

# Private and Public SSH
.private 
.private.pub